@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat';
}

nav {
    background-color: #d4cece;
    height: 100px;
    width: 100vw; 
}
nav > a {
    padding: 30px;
    color: rgba(14, 14, 14, 0.877);
    text-decoration: none;
    max-width: 600px;
    text-transform: uppercase;
    size: 0.8em;
    align-content: center;

}
nav > img {
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 50%;
    block-size: 50px;
    align-content: center;
}
nav > a.button {
    background-color: black;
    color: white;
    padding: 15px 35px;
 
}
nav > a.button:hover {
    background-color: rgba(0, 0, 0, 0.685);
    padding: 200px;
    transition-duration: 0.5s;
}
header > h1, p {
    padding: 25px;
}
header > div h1 {
    font-size: 3em;
}
.text {
    color: white;  
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.432);
    padding: 30px;
}
.container {
    position: relative;

}
.container .image {
    width: 1200px;
    height: 800px;
    display: block;
    margin: auto;
}
.container .text {
    position: absolute;
    z-index: 1;
    padding-top: 10vh ;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
}
#button-2 {
    background-color: #d4cece;
    color: rgba(0, 0, 0, 0.466);
    text-transform: uppercase;
    width: 150px;
    position: fixed;
    left: 50%;
    top: 100%;
    transform: translate(-50%);
    transition-duration: 0.5s;
}
#button-2:hover {
    background-color: #d4cece93;
}
main {
    position: relative;
}
main > h1 {
    padding-top: 100px;
    padding-left: 75px;
    font-size: 2.5em;
    font-weight: 500;
}
main > p {
    padding-left: 75px;
    font-size: 1.4em;
    font-weight: light;
}
#line {
    background-color: rgb(146, 136, 136);
    width: 1200px;
    height: 1px;
    margin: auto;
}
section#texto {
    display: flex;
    font-size: 1em;
    margin: 30px 50px;
    text-align: justify;
}
#t1 {
   text-align: justify;
   font-size: 0.8em;
   font-weight: light;
   box-sizing: 200px;

}
main > h3 {
    text-align: center;
    font-size: 1.8em;
}
div#imagens {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

}

.img-1 {
    width: 300px;
}
